
<label for="input" class="label">@Label</label>
<input @bind="@Value" type="@Type.ToLower()" placeholder="@Placeholder" name="input" class="input" min="@Minimum" max="@Maximum" />

@code {
	[Parameter]
	public string Value { get; set; }

	[Parameter]
	public EventCallback<string> ValueChanged { get; set; }

	[Parameter]
	public string Type { get; set; } = "Text";
	[Parameter]
	public string Label { get; set; } = string.Empty;
	[Parameter]
	public string Placeholder { get; set; } = string.Empty;
	[Parameter]
	public string Minimum { get; set; } = string.Empty;
	[Parameter]
	public string Maximum { get; set; } = string.Empty;
}
